{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&display=swap" rel="stylesheet">

<h1 style="font-family: 'Permanent Marker', cursive; font-size: 25pt;">{{question.question_text}}</h1>
{% if error_message %} <p><strong>{{error_message}}</strong></p>{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type ="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}">
    <label for ="choice{{forloop.counter}}" style="font-family: 'Permanent Marker', cursive; font-size: 15pt;">{{choice.choice_text}}</label><br>
{% endfor %}
    <a href="{% url 'polls:index' %}"><input type="button" value="List" class="btn btn-light"></a>
    <input type="submit" value="Vote" class="btn btn-primary">
</form>
{% endblock %}
